In [28]:
import pandas as pd
import sqlite3
from pathlib import Path

# 1. Setup paths and folders
TRANSFORMED_FULL = r"C:\Users\HP\Desktop\DSA2040AETExamKath041\transformed\transformed_full.csv"
TRANSFORMED_INC  = r"C:\Users\HP\Desktop\DSA2040AETExamKath041\transformed\transformed_incremental.csv"

Path("loaded").mkdir(exist_ok=True)
print("Setup complete. Folder 'loaded/' ready.")


# 2. Load transformed datasets
try:
    df_full = pd.read_csv(TRANSFORMED_FULL, encoding="ISO-8859-1", low_memory=False)
    df_inc  = pd.read_csv(TRANSFORMED_INC, encoding="ISO-8859-1", low_memory=False)
    print("Loaded datasets successfully!")
    print("Full:", df_full.shape, "| Incremental:", df_inc.shape)
    display(df_full.head(3))
except FileNotFoundError:
    print("Error: One or both transformed CSV files not found. Check your paths.")


# 3. Save to SQLite database
try:
    conn = sqlite3.connect('loaded/full_data.db')
    df_full.to_sql('full_data', conn, if_exists='replace', index=False)
    df_inc.to_sql('incremental_data', conn, if_exists='replace', index=False)
    conn.close()
    print("Saved to SQLite successfully: loaded/full_data.db")
except Exception as e:
    print("SQLite save error:", e)


# 4. Save to Parquet format
try:
    df_full.to_parquet('loaded/full_data.parquet', index=False)
    df_inc.to_parquet('loaded/incremental_data.parquet', index=False)
    print("Parquet files created successfully.")
except Exception as e:
    print("Parquet save error:", e)


# 5. Verify SQLite data
print("\nVerifying SQLite data...")
try:
    conn = sqlite3.connect('loaded/full_data.db')
    preview_sql = pd.read_sql('SELECT * FROM full_data LIMIT 5', conn)
    display(preview_sql)
    conn.close()
    print("SQLite verification successful.")
except Exception as e:
    print("SQLite verification error:", e)


# 6. Verify Parquet data
print("\nVerifying Parquet data...")
try:
    preview_parquet = pd.read_parquet('loaded/full_data.parquet')
    display(preview_parquet.head())
    print("Parquet verification successful.")
except Exception as e:
    print("Parquet verification error:", e)


# 7. Create small sample for GitHub
try:
    sample_path = Path("loaded/full_sample_1000.csv")
    df_full.sample(1000, random_state=42).to_csv(sample_path, index=False)
    print("Saved small sample for GitHub:", sample_path)
except Exception as e:
    print("Sample creation error:", e)


# 8. Summary output
print("Load phase completed successfully.")
print("Created files:")
print("- loaded/full_data.db")
print("- loaded/full_data.parquet")
print("- loaded/incremental_data.parquet")
print("- loaded/full_sample_1000.csv")

Setup complete. Folder 'loaded/' ready.
Loaded datasets successfully!
Full: (536641, 11) | Incremental: (1000, 9)

,invoiceno,stockcode,description,quantity,invoicedate,unitprice,customerid,country,invoiceyear,invoicemonth,totalcost
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2010,12,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010,12,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,2010,12,22.00

Saved to SQLite successfully: loaded/full_data.db
Parquet files created successfully.

Verifying SQLite data...

,invoiceno,stockcode,description,quantity,invoicedate,unitprice,customerid,country,invoiceyear,invoicemonth,totalcost
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2010,12,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010,12,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,2010,12,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010,12,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010,12,20.34

SQLite verification successful.

Verifying Parquet data...

,invoiceno,stockcode,description,quantity,invoicedate,unitprice,customerid,country,invoiceyear,invoicemonth,totalcost
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2010,12,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010,12,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,2010,12,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010,12,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010,12,20.34

Parquet verification successful.
Saved small sample for GitHub: loaded\full_sample_1000.csv
Load phase completed successfully.
Created files:
- loaded/full_data.db
- loaded/full_data.parquet
- loaded/incremental_data.parquet
- loaded/full_sample_1000.csv